body:has(.preview-page) header {
	border-bottom: 1px solid var(--color-grey) !important;
}

body:has(.preview-page) main {
	border-top: 0 !important;
}

body:has(.preview-page) .slider-container {
	position: sticky !important;
	border-bottom: 1px solid var(--color-grey) !important;
	box-shadow: var(--box-shadow) !important;
	top: 6.75rem !important;
}

.preview-page {
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
}

.preview-container .btn {
	max-height: 4.5rem;
}

/* Preview Container */
.preview-container {
	position: relative;
	width: 100%;
	max-width: 90rem;
	background: var(--bg-color);
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	padding: 2rem 2rem 3rem;
	gap: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
}

/* Preview Header */
.preview-header {
	display: flex;
	flex-wrap: wrap;
	padding: 1.5rem 0 1rem;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

/* User Container */

.user-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-family: Arial, sans-serif;
}

/* Avatar image styling */
.user-avatar-container {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.user-avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

/* Username styling */
.user-name {
	font-size: 1.4rem;
	margin: 0;
	text-align: left;
}

/* Links container styling */
.links {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* Individual link styling */
.link {
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--color-white);
	opacity: 0.6;
	transition: all 0.15s;
}

.link:hover {
	opacity: 1;
	color: var(--color-white-hover);
}

/* Circle point styling */
.circle {
	font-size: 2rem;
	color: #333;
}

.icon-container {
	display: flex;
	gap: 1.3rem;
	flex-wrap: wrap;
}

.icon-container .btn {
	font-size: 1.5rem;
	white-space: nowrap;
	padding: 0 auto;
}

.img-slider {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 45rem;
	border-radius: 1rem;
	background-color: var(--hover-color);
}

.img-slider img,
.img-slider video {
	border-radius: 1rem;
	max-height: 50rem;
	object-fit: cover;
}

.img-slider video {
	aspect-ratio: 16 / 9;
}

.more-info-container {
	margin-top: 2rem;
	gap: 1.5rem;
	justify-content: space-between;
}

.preview-download-btn {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 4rem;
	position: relative;
	background-color: #41c261;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	padding: 0;
	gap: 0;
}

.preview-download-btn:hover {
	background-color: #41c261;
}

.preview-download-btn .dropdown-list {
	width: 100%;
	min-width: 6.6rem !important;
	right: 0;
	transform: scale(1);
	top: calc(100% + 1rem);
	border-radisu: 0.25rem !important;
	padding: 0.5rem;
	border: 1px solid var(--color-white);
}

.preview-download-btn .list-item {
	padding: 0.65rem 1rem;
	border-radius: 0.25rem;
}

.text-section {
	color: white;
	position: relative;
	flex: 1;
	padding: 1rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #34c759;
	transition: all 0.15s;
	z-index: 2500;
}

.icon-section::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 65%;
	background-color: var(--color-grey);
	transform: translateY(-50%);
	z-index: 100;
}

.icon-section:hover i {
	transform: rotate(90deg);
}

.text-section:hover {
	background-color: #28a745;
}

@media screen and (max-width: 610px) {
	.icon-container {
		width: 100%;
	}

	.img-slider img {
		width: 100%;
	}
}

.more-info-text {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 0.5rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--color-white);
	opacity: 0.75;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.more-info-text:hover {
	opacity: 1;
}

.tags-container {
	gap: 0.5rem;
}

.tags-container h1 {
	font-size: 2.4rem;
	margin-right: 1rem;
	font-weight: bold;
}

.tags-container .btn {
	font-size: 1.45rem;
	padding: 0.7rem 1rem;
	border-radius: 0.3rem;
}
